html {  
  font-family: "Yusei Magic", sans-serif;
  font-weight: 400;
  font-style: normal;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1 {
  margin: 0;
  padding: 0;
  font-family: "Are You Serious", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 70px;
}

h2, h3 {
  margin: 0;
  padding: 0;
  color: rgb(0, 0, 0);  
}

h2 { 
  text-align: center; 
  font-size: 28px;
}

h3 {  
  font-size: 23px;
}

a {
  text-decoration: none;
  color: rgb(136, 42, 243);
}

.body {  
  display: flex;
  flex-direction: column;  
  background-image: url(/assets/img/magic_museum7.png); 
  background-size: cover;
  background-repeat: no-repeat;   
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  background-color: rgba(142, 67, 185, 0.5);
}

/* Header */

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-basis: content;
    
}

.header-nav {
  display: flex;
}

.header-list {
  display: flex;
  justify-content: space-between;
}

.btn-nav {
  margin: 10px 25px;
  padding: 2px 10px;
  border: none;
  color: white;
  background-color: rgb(0, 0, 0);  
}

.btn-nav-active {  
  background-color: rgb(64, 63, 65);
}

/* Main */

h3 {
  margin-top: 30px;
}

.main-section {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.hats, .wands, .balls {
  display: flex;
  flex-direction: column;  
}

.hat-list, .wand-list, .ball-list {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;  
}

.hat-item, .wand-item, .ball-item {
  margin: 25px;
  border: 3px solid rgb(188, 136, 236);
  overflow: hidden;
}

.wand-item {   
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.wand-item:hover {
  border-radius: 50%;
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

.hat-img, .wand-img, .ball-img {
  max-width: 100%;  
  transition: 1s;
}

.hat-img:hover, .ball-img:hover {
  transform: scale(1.2);
}